[submodule "comms/mavlink/v1.0"]
      path = comms/mavlink/v1.0
      url = http://192.168.1.101/avl-summer-19/torque_flight_mavlink.git
[submodule "boards/breezy/breezystm32"]
      path = boards/breezy/breezystm32
      url = https://github.com/rosflight/BreezySTM32.git
[submodule "boards/airbourne/airbourne"]
      path = boards/airbourne/airbourne
      url = https://github.com/rosflight/airbourne_f4.git